// Define variables for your color scheme

//primaries:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$green: #1EDD88;


//hi-light
$black: rgba(20, 5, 1, 1);
$gray: rgba(58, 57, 57, 1);
$orange: #f65026;
$light-orange: #fbb5a4;
$light-gray: rgba(212, 212, 212, 1);

//tags
$tag-blue: #A1F7F7;
$tag-purple: #B6ACC3;
$tag-orange: #F9B38A;
$tag-yellow: #FFD485;
$tag-red: #E2A2BC;
$tag-green: #AFD5C7;
$tag-none: #e3e3e3;
