// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$hi-light: #F65026;
$hi-light-light: #FDDCD4;
$hi-light-grey: #D4D4D4;
$hi-light-dark: #3A3939;
$hi-light-black: #140501;
