<div class="container">
  <h1 id="landing-title">Rediscover your favorite quotes</h1>
  <h4 id="landing-subtitle">Read. Import. Rediscover. Share.</h4>
  <%= image_tag "landing-page.png", id:"landing-img"%>
</div>
