<div class="container">
  <%= render "shared/search" %></div><br>
    <div class="container-sm">
      <div class="cards">
        <% @books.each do |book| %>
          <div class="card-book">
              <img src="https://source.unsplash.com/collection/8761640/"/>
            <div class="">
              <h4> <%= book.title %> </h4>
              <p> <%= book.author.name %> </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
