
<div class="container">
  <h1 id="landing-title">Rediscover your favorite quotes</h1>
  <h4 id="landing-subtitle">Read. Import. Rediscover. Share.</h4>
  <%= image_tag "landing-page.png", id:"landing-img"%>
  
<div class="container justify-content-center">
  <div class="call-to-action">
    <a href="/users/sign_in">Login / Signup</a>
  </div>
</div>
