<div class="container">
  <%# <div class="searchbar-container"><%= render "shared/searchbar" %>
  <div class="container-sm">
    <div class="cards">
      <% @books.each do |book| %>
        <div class="card-book">

          <% if book.photos.attached? %>
            <%= cl_image_tag book.photos.key %>
          <% else %>
            <img src="https://source.unsplash.com/collection/8761640/"/>
          <% end %>

          <div class="">
            <h4> Book Name </h4>
            <p> Author Name </p>
          </div>

        </div>
      <% end %>
    </div>
  </div>
</div>
