<td data-edit-tag-target="tagInfo"><span class="tag-index">
  <a href="/tags?query=<%=tag.name %>">
    <button class="<%= tag.highlights.empty? ? 'none' : tag.color %>">
      <%= tag.name %></span>
    </button>
  </a>
</td>