.cards {
  margin-top: 61px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 62px;
  flex-grow: 1;
  padding: 0px;
  border-radius: 10%;
}

.card-book {
  overflow: hidden;
  // box-shadow: 0 0 15px $hi-light-light;
  height: 251px;
  background-position: center;
  justify-content: space-around;
  border-radius: 10%;
  width: 80%;
  background-color: white;
}

.card-book:hover {
  transition: 0.7s;
  transform: translate3D(0,-2px,0) scale(1.03);
  overflow: hidden;
  background-position: center;
  justify-content: space-around;
  border-radius: 10%;
}

.card-book > img {
  height: 205px;
  width: 100%;
  border-radius: 10%;
  object-fit: cover;
}

.card-book h4 {
  margin: auto;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  line-height: 25px;
}

.card-book p {
  margin: auto;
  text-align: center;
  font-size: 9px;
  font-weight: lighter;
  opacity: .8;
  margin: 0;
}

.cards-clickable {
 color: $black;
}

.cards-clickable:hover {
  color: $gray;
  transition: 0.7s;
 }

#book-cover-show {
  height: 205px;
  width: 155px;
  border-radius: 10px;
  object-fit: cover;
}

.book-info {
  width: 50%;
  margin-left: 30px
}

.book-info h2 {
  font-size: 24px;
  font-weight: bolder;
}

.book-info h5 {
  font-size: 14px;
}

.book-info p {
  font-size: 11px;
}

#highlight-no{
  font-size: 13px;
  background-color: $orange;
  border-radius: 10px;
  width: 87px;
  height: 25px;
  text-align: center;
  color: white;
  position: absolute;
  padding-top: 2px;
  left: 1072px;
  bottom: 660px;
}

.cards-quotes {
  width: 704px;
  height: 332px;
  background-position: center;
  border-radius: 10px;
  background-color: $light-gray;

}

.card-quote-content {
  width: 674px;
  background-color: white;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 19px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 40px;
  padding-left: 60px;
}

.quotes{
  font-size: 30px;
  color: $gray;
  position: absolute;
  padding-left: 30px;
  padding-top: 37px;
}
