.container {
  background-color: white;
  margin: 0px auto;
}

.content-container {
  max-width: 1000px; //
  background-color: white;
  margin: 0px auto;
  margin-bottom: 40px;
}

.container-sm {
  display: flex;
  background-color: white;
  margin: 0px auto;
}

.container-quotes {
  width: 704px;
  margin: auto;
  margin-top: 60px;
}

.container-tags {
  // width: 900px;
  // margin-left: 60px;
}

.container-social {
  width: 740px;
  margin-top: 15px;
  margin: auto;
}

.container-form {
  width: 350px;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 30px;
}

.container-import {
  width: 700px;
  margin: 0px auto;
}

.container-profile{
  width: 800px;
  margin-top: 20px;
  margin: auto;
}
