.container {
  background-color: white;
  margin: 0px auto;
}

.content-container {
  background-color: white;
  margin: 0px auto;
}

.container-sm {
  display: flex;
  background-color: white;
  margin: 0px auto;
}

.container-quotes {
  width: 704px;
  margin: auto;
  margin-top: 60px;
}
