#dashboard-user-info {
  margin-top: 30px;
  margin-bottom: 15px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  border-radius: 25px;
  padding: 30px 0px;
  width: 690px;
}

.asset-count {
  border-radius: 25px;
  text-align: center;
  padding: 20px 100px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;}

.asset-count h4 {
  font-size: 20px;
  font-weight: bold;
}

.asset-count p {
  font-size: 20px;
  font-weight: bold;
}

.asset-count i {
  font-size: 20px;
  color: $orange;
  margin-bottom: 10px;
}

.asset-count a {
  text-decoration: none;
  color: black;
}

.asset-count a:hover {
  color: $orange;
  font-weight: bold;
}

#dashboard-name {
  font-size: 25px;
  font-weight: bold;
  color: $orange;
}


.manage {
  font-size: 13px;
}

#fav-highlights {
  font-size: 16px;
}

.recent-activity {
  border-radius: 25px;
  text-align: left;
  // padding: 30px 100px 10px 30px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  padding: 25px 50px 15px 20px;
  margin: 10px;
}

.recent-activity a {
  font-size: 15px;
  text-decoration: none;
  color: $orange;
  line-height: 28px;
}

.recent-activity a:hover {
  color: $orange;
  font-weight: bold;
  opacity: 0.6;
}

.social {
  padding: 30px 100px 0px 30px;
}

.recent-activity-spacing{
  margin: 11px;
}
