.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  background-color: white;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $gray;
  height: 100px;
  padding: 0px 200px;
}

.footer a {
  text-decoration: none;
  color: $light-orange;
}

.footer a:hover {
  color: $orange;
}
