.wrapper {
  display: flex;
  justify-content: center;
}

.main {
  // width: 60%;
}

.sidebar {
  // width: 40%;
  height: 60vh;
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
  margin-top: 45px;
  margin-right: 10px;
  padding: 10px;
}

.friend-profile-link {
  border: 10px #f1f1f1 solid;
  box-shadow:  7px 7px 5px #e7e7e7;
  border-radius: 15px;
  margin-bottom: 20px;
  width: 100%;
}

.user-name {
  font-size: 18px;
  font-weight: bolder;
  padding-top: 15px;
  padding-left: 10px;
}

.user-name button {
  border: $orange solid 1px;
  background-color: transparent;
  border-radius: 25px;
  font-size: 15px;
  text-decoration: none;
  color: black;
}

.friend-book-info {
  padding: 10px;
}

.friend-book-info h2 {
  font-size: 21px;
  font-weight: bolder;
  text-align: center;
}

.friend-book-info h5 {
  font-size: 17px;
  font-weight: bolder;
  text-align: center;
}

.friend-book-info p {
  font-size: 15px;
  font-style: italic;
}

.friend-book-cover #book-cover-show {
  height: 175px;
  width: auto;
  object-fit: cover;
  margin: 10px;
}

.friend-book-cover {
  display: flex;
  justify-content: center;
}

#friend-box {
  display: inline-flex;
  justify-content: space-evenly;
  padding: 15px;
}
