.import-form {
  margin: 50px 0;
  display: flex;
  justify-content: center;
}

.import-drag-drop {
  display: flex;
  justify-content: center;
  width: 700px;
  text-align: center;
  background-color: #FDDCD4;
  border-radius: 20px;
  padding: 100px 0;
  background: radial-gradient(circle, #faf0ef 0%, #f9c0b2 100%);
  border: dashed 1px $orange;
}

.import-label {
  display: flex;
  justify-content: center;
}

.import-submit {
  display: flex;
  justify-content: center;
}

.import-form .import-submit input {
  background-color: $orange;
  border: rgb(224, 224, 224) 3px solid;
  border-radius: 12px;
  padding: 10px 30px;
  margin: 30px 0;
  color: white;
}

.import-form .import-submit input:hover {
  background-color: #dd4822;
}
