body {
  background-color: white;
  min-height: 100vh;
}

header {
  border-bottom: solid 3px $light-gray;
}

.navbar-container {
  background-color: white;
  margin: 0px auto;
  // margin-bottom: 40px;
  max-width: 1000px; //
  // display: flex;
  // justify-content: space-between;
}

.navbar-logo {
  justify-content: space-between;
  background: white;
  width: 100%;
}

.navbar-logo .navbar-collapse {
  flex-grow: 0;
}

.navbar-logo .navbar-brand img {
  padding: 10px;
  width: 170px;
  // margin-left: 200px;
}

.navbar-logo .navbar-brand img:hover {
  padding: 10px;
  width: 170px;
  // margin-left: 200px;
  transition: 0.3s;
  opacity: 0.7;
}

// .navbar-collapse {
//   margin-right: 200px;
// }

.nav-item a {
  text-decoration: none;
  color: $gray;
  padding-right: 30px;
}

.navbar {
  background-color: white;
  padding: 0 15px;
}

.navbar i {
  background-color: white;
  margin-right: 6px;
  margin-top: 10px;
}

.nav-item a:hover {
  background-color: white;
  transition: 0.4s;
  color: rgb(125, 124, 124);
}
