.navbar-logo {
  justify-content: space-between;
  background: white;
  width: 100%;
}

.navbar-logo .navbar-collapse {
  flex-grow: 0;
}

.navbar-logo .navbar-brand img {
  padding: 10px;
  width: 180px;
  margin-left: 200px;
}

.navbar-collapse {
  margin-right: 200px;
}

.nav-item a {
  text-decoration: none;
  color: $gray;
  padding-right: 30px;
}

.navbar {
  background-color: white;
  border-bottom: solid 3px $light-gray;
}
