.search-by-buttons {
  // padding: 7px;
  // margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.search-by-buttons i {
  color: $gray;
  border: 1px solid black;
  border-radius: 50%;
  opacity: 30%;
  font-size: 24px;
  margin: 0 8px;
  width: 48px;
  height: 48px;
  padding-top: 10px;
  text-align: center;
}

.search-by-buttons .active {
  opacity: 1;
}

.search-by-buttons i:hover {
  opacity: 1;
}

.container-searchbar {
  margin-top: 50px;
}

.form-control {
  color: $gray;
}

.search-form-control {
  position: relative;
  margin: 0 10px;
}

.search-form-control .submit-btn {
  position: absolute;
  top: 6px;
  // bottom: 8px;
  right: 9px;
  border-radius: 50%;
  border: transparent 0px solid;
  background-color: $orange;
  color: white;
  height: 36px;
  width: 36px;
}

.search-form-control .form-control {
  height: 3rem;
  border-radius: 50px;
  width: 600px;
  background-color: white;
  font-style: italic;
  font-size: 16px;
}
