table, th, td {
  margin-top: 50px;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: rgb(228, 228, 228);
  font-weight: bolder;
  font-size: 17px;
  border-bottom: 2px solid $gray;
}

#title {
  font-size: 17px;
  font-weight: bolder;
  text-decoration: none;
  color: black;
}

.table-number {
  text-align: center;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}
