.tags-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tag-card {
  margin-left: 16px;
  text-decoration: none !important;
}

.tag-card p {
  font-size: 14px;
  text-align: center;
  padding-right: 14px;
  padding-left: 14px;
  margin-bottom: 2px;
  text-decoration: none !important;
}

.tag-index a {
  text-decoration: none;
}

.tag-index button {
  font-size: 16px;
  text-align: center;
  padding: 10px 15px;
  margin: 5px 10px;
  line-height: 17px;
  border: transparent 0px solid;
}

.tag-index button:hover {
  transition: 0.7s;
  transform: translate3D(0,-1.5px,0) scale(1.02);
  overflow: hidden;
  background-position: center;
  justify-content: space-around;
}

.blue {
  background-color: $tag-blue;
}

.purple {
  background-color: $tag-purple;
}

.orange {
  background-color: $tag-orange;
}

.yellow {
  background-color: $tag-yellow;
}

.red {
  background-color: $tag-red;
}

.green {
  background-color: $tag-green;
}

.none {
  background-color: $tag-none;
  opacity: 40%;
}

.blue,.purple,.orange,.yellow,.red,.green,.none {
  border-radius: 20px;
}

.blue,.purple,.orange,.yellow,.red,.green p {
  margin-bottom: 0px;
}

.form-control {
  font-size: 16px;
  padding-right: 14px;
  padding-left: 14px;
  color: $orange;
}

.tags-stats {
  border: $gray 1px solid;
  border-radius: 25px;
  padding: 20px;
  text-align: center;
}

.delete-tags {
  text-decoration: none;
  font-style: italic;
  color: $orange;
}

.edit-tag-button {
  border: transparent 0px solid;
  background-color: transparent;
}

.edit-tag-button:hover {
  color: $orange;
}

.tags-index-manage {
  margin-bottom: 20px;
  margin-top: 70px;
  text-align: center;
}

.new-tag-button {
  text-decoration: none;
  color: white;
  border: 2px $light-gray solid;
  border-radius: 25px;
  background-color: $orange;
}

#new-tag-text {
  text-decoration: none;
  color: white;
}
