.tag-card {
  margin-left: 16px;
}

.tag-card p {
  font-size: 14px;
  text-align: center;
  padding-right: 14px;
  padding-left: 14px;
}

.tag-index a {
  text-decoration: none;
}

.tag-index button {
  font-size: 14px;
  padding-right: 2px;
  padding-left: 14px;
  text-align: center;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 20px;
  border: transparent 0px solid;
}

.tag-index button:hover {
  transition: 0.7s;
  transform: translate3D(0,-1px,0) scale(1.01);
  overflow: hidden;
  background-position: center;
  justify-content: space-around;
}

.blue {
  background-color: #A1F7F7;
  border-radius: 10px;
}

.purple {
  background-color: #B6ACC3;
  border-radius: 10px;
}

.orange {
  background-color: #F9B38A;
  border-radius: 10px;
}

.yellow {
  background-color: #FFD485;
  border-radius: 10px;
}

.red {
  background-color: #E2A2BC;
  border-radius: 10px;
}

.green {
  background-color: #AFD5C7;
  border-radius: 10px;
}

.form-control {
  font-size: 14px;
  padding-right: 14px;
  padding-left: 14px;
  color: $orange;
}
