<div class="container">
  <div class="import-form">
    <%= form_with url: "/upload", multipart: true do |form| %>
    <div class="import-drag-drop">
      <div class="">
        <%= file_field_tag :file, class: "form-control" %>
      </div>
    </div>
      <div class="import-submit">
        <%= form.submit "Import highlights" %>
      </div>
    <% end %>
  </div>
</div>
